:root {
  --primary-text-colour: #848484;
  --title-text-colour: #000;
  --primary-accent-colour: #d41443;
  --secondary-accent-color: #ff0a54;
  --hover-color:#d41443;
  --accent-background-color: #ffb8c9;
}

body {
  background-color: #fff;
  color: var(--primary-text-colour);
  font-family: Poppins, sans-serif;
  letter-spacing: 0.02em;
  font-size: 16px;
  line-height: 1.5;
}

/**
  |============================
  | reset strart
  |============================
*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  /* height: auto; */
}

.list {
  list-style: none;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 428px;
    min-width: 320px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 736px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.section-title {
  text-align: center;

  color: var(--title-text-colour);
  font-size: 26px;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: 0.52px;
}
@media screen and (min-width: 768px) {
  .section-title {
    font-size: 32px;
  }
}

@media screen and (min-width: 1158px) {
  .section-title {
    font-size: 40px;
  }
}
/**
  |============================
  | header
  |============================
*/

.header-item {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.24px;
}

.nav-link{
color: var(--title-text-colour);}

.nav-link:hover{
  color: var(--hover-color);
}

.header-list {
  display: flex;
  gap: 24px;

  margin: 20px 0 20px 0;
}

.header-container {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .header-item {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
  }
  .header-list {
    margin: 26px 0 26px 0;
  }

  .header-img {
    width: 73px;
    height: 71px;
  }
}
/**
  |============================
  | hero
  |============================
*/

.hero {
  background-image: url("./images/hero/pattern.png");
  position: relative;
  padding-top: 52px;
  padding-bottom: 420px;
  background-color: var(--accent-background-color);
  background-size: cover;
  /* or 'contain', depending on your preference */
  background-repeat: no-repeat;
  background-position: center center;
}

.hero-title {
  font-size: 28px;
  font-weight: 800;
  color: var(--title-text-colour);
}

.text-accent {
  color: var(--primary-accent-colour);
}

.hero-button {
  display: block;
  padding: 12px 26px;
  margin: 40px 0 0 0;

  border: none;
  border-radius: 40px;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  background-color: var(--secondary-accent-color);
}

.hero-button:hover{
  background-color: var(--hover-color);
}

.hero-photo {
  position: absolute;
  bottom: 0;
  right: 0;
}

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 112px;
    padding-bottom: 380px;
  }

  .hero-title {
    width: 500px;
    font-size: 44px;
    font-weight: 800;
  }
  .hero-button {
    font-size: 18px;
    padding: 15px 45px;
  }
}

/**
  |============================
  | explore
  |============================
*/
.explore {
  padding: 48px 0px;
}

.explore-img {
  border-radius: 20px;
}

.explore-list {
  display: flex;
  flex-direction: column;
  gap: 28px;
  align-items: center;

  margin-top: 18px;
}

@media screen and (min-width: 768px) {
  .explore {
    padding: 82px 0px 96px 0px;
  }
  
  .explore-list {
    margin-top: 24px;

    flex-direction: row;
    justify-content: center;
    gap: 36px;
  }
}

@media screen and (min-width: 1158px) {
  .explore {
    padding: 124px 0px 172px 0px;
  }
  .explore-list {
    margin-top: 32px;
  }
  .middle-explore-img {
    width: 407px;
  }

  .side-explore-img {
    width: 333px;
  }
}

/**
  |============================
  | about
  |============================
*/
.about {
  position: relative;
  padding-bottom: 288px;
}
.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-text {
  text-align: center;
  margin-top: 12px;

  font-size: 12px;
}

.about-elements {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (max-width: 767px) {
  .about-elements {
    align-items: center;
  }
  .hide-about-text{
    display: none;
  }
}

.about-button {
  display: block;
  padding: 16px;
  margin-top: 18px;
  
  text-align: center;
  border: none;
  border-radius: 40px;
  font-size: 12px;
  font-weight: 600;
  color: #fff;
  background-color: var(--secondary-accent-color);
}

.about-button:hover{
  background-color: var(--hover-color);
}

@media screen and (min-width: 768px) {
  .about{
    padding-bottom: 142px;
  }
  .about-container {
    position: relative;
    flex-direction: row;
    justify-content: space-between;
  }
  .about-text {
    width: 292px;
    text-align: start;
    margin-top: 20px;

    font-size: 16px;
  }

  .about-title {
    text-align: start;
    margin-top: 36px;
    margin-bottom: 24px;
  }

  .about-button {
    width: 184px;
    font-size: 14px;
  }
}
.about-decoration-box {
  position: absolute;
  background-color: var(--accent-background-color);
}

@media screen and (max-width: 767px) {
  .about-decoration-box {
    bottom: 100;
    right: 0;
    height: 100px;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .about-decoration-box {
    width: 460px;
    height: 312px;
    right: 0;
    top: 110px;
    z-index: -1;
    border-radius: 10% 0 0 10%;
  }
}

@media screen and (min-width: 1158px) {
  .about-decoration-box {
    width: 620px;
    height: 442px;
    top: 80px;
  }
}

.about-img {
  border-radius: 20px;
}

@media screen and (max-width: 767px) {
  .about-img {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 50;
  }

  .hide-about-img {
    display: none;
  }

  .about-photoes-wrap {
    display: none;
  }

  .about-title {
    font-size: 40px;
  }
}

.about-photoes-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

@media screen and (min-width: 768px) {
  .about-photoes-wrap {
    position: absolute;
    right: 0;
    width: 382px;
  }
  .about-button {
    font-size: 18px;
  }
}

@media screen and (min-width: 1158px) {
  .about-img {
    width: 254px;
  }

  .about-photoes-wrap {
    width: 534px;
  }

  .about-text {
    width: 518px;
    font-size: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1158px) {
  .hide-about-text {
    display: none;
  }
}

/**
  |============================
  | MENU
  |============================
*/

.menu {
  padding: 0 0 148px 0px;
}


.menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 28px;
  gap: 26px;
  
}

.menu-item {
  width: 300px;
  height: 404px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  box-shadow: 10px 10px 20px 0px rgba(255, 184, 201, 0.18);
}


.menu-item-title {
  color: #000;
  font-size: 26px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.52px;
}

.menu-text{
    margin-top: 8px;
    text-align: center;
}

.menu-item-parag {
  margin-top: 12px;
  color: #d41443;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.4px;
}

.menu-list-first {
  display: flex;
  gap: 76px;
}

.menu-item-first {
  margin-top: 12px;
  color: #ff0a54;
}

.menu-price {
  color: #000;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.4px;
}

.menu-list-second{
  margin-top: 22px;
  margin-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 28px;

}

.menu-wrapper-list{
    width: 120px;
    height: 206px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: #D2E4B9;
}

.menu-second-title{
  color: #FF0A54;
font-family: Poppins;
font-size: 26px;
font-style: normal;
font-weight: 600;
line-height: 150%; /* 39px */
letter-spacing: 0.52px;
}

.list-second{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;

} 

.list-second-common{
  color: var(--primary-accent-colour);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.36px;
}

@media screen and (min-width: 768px){
  .menu-item{
    width: 328px;
height: 452px;
  }
  .menu-item-title{
    font-size: 32px;
  }
  .menu-item-parag{
font-size: 22px;
  }
  .menu-second-title{
    font-size: 30px;
  }
  .list-second-common{
    font-size: 22px;
  }
  .menu-wrapper-list{
    width: 132;
    height: 256px;
  }
  .menu-list{
    gap: 54px;
  }

}

@media screen and (min-width: 1158px){
  .menu-list {
  flex-direction: row;
  align-items: center;
  margin-top: 84px;
  gap: 76px;
  
}
}

/**
  |============================
  | MAP
  |============================

*/
.location{
  padding: 52px 0;
  border-radius: 50px 50px 0px 0px;
background: rgba(255, 184, 201, 0.25);
}

.locate-title{
  text-align: start;
  margin-bottom: 12px;
}

.location-text{
  width: 535px;
  margin-bottom: 32px;
  font-size: 20px;
font-weight: 400;
line-height: 1.6;
color: var(--primary-text-colour);
}

.location-photos{
  border-radius: 20px;
}

.location-wrap{
display: flex;
}

.map{
  border-radius: 20px;
  width: 360px;
height: 161px;
}

@media screen and (min-width: 768px){
.map{
  width: 664px;
height: 117px;

}}

@media screen and (min-width: 1158px){
.map{
  width: 632px;
height: 582px;
}}


.location-photo1{
  margin-bottom: 20px;
}

.location-photos-main-wrap{
  display: flex;
  gap: 20px;
}